*{
    box-sizing: border-box;
}

body{
    background-color: ghostwhite;
    color: #333;
    margin: 0px;
    font-family: sans-serif;
    /* padding: 90px 20px 0; */
}

/* .header{
    background-color: lightseagreen;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
} */

header {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px;
}

img{
    max-width: 100%;
}

h1,
h2 {
    margin-top: 20px;
    text-align: center;
}
main {
    max-width: 900px;
    margin: auto;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.toggle-menu{
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    cursor: pointer;
    filter: invert(1);
    width: 40px;
    z-index: 1;

}

@media screen and (min-width: 768px){
    .toggle-menu{
     display: none;
    } 
 }

.main-menu{
    background-color: lightseagreen;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    transition: transform 0.3s;
    transform: translateY(-100%);
}

.main-menu--show{
    transform: translateY(0);
}
.toggle-menu__checkbox{
    display: none;
}

.toggle-menu__checkbox:checked + .main-menu{
    transform: translateY(0);
}

@media screen and (min-width: 768px){
   .main-menu{
    flex-direction: row;
    transform: translateY(0);
   } 
}

.main-menu_item{
    padding: 1em;
}
.main-menu_link{
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
}

/* .main-nav{
    background-color: lightsteelblue;
} */

/* .table-pacientes{
    margin-top: 50px;
} */

.listado-servicios a {
    text-decoration: none;
    color: #3e8e41;
    font-size: 30px;
}

.listado-servicios li::marker {
    content: 🐾;
}